<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <title>AdminPanel</title>
</head>
<body>

    <div class="landing-page">
        <div class="container__center">

<% if(error && error.length > 0){ %>
    <h1 class="message__landing message__landing--error"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <%= error %></h1>
<% } %>
<% if(success && success.length > 0){ %>
    <h1 class="message__landing message__landing--success"><i class="fa fa-check" aria-hidden="true"></i> <%= success %></h1>
<% } %>
    
<% if(!currentUser){ %>
    <form action="/login" method="POST" style="width:365px">
        <div class="img__logo"></div>

        <div class="form__group">
            <input class="form__input" type="text" name="username" placeholder="Username" id="username" pattern=".{5,}" required title="Admin Login must have 5 chars minimum">
            <label class="form__label" for="username">Username</label>
        </div>
        <div class="form__group">
            <input class="form__input" type="password" name="password" placeholder="Password" id="password" pattern=".{5,}" required title="Admin password must have 5 chars minimum">
            <label class="form__label" for="password">Password</label>
        </div>

        
        <div class="login-form__group">
            <button class="btn btn--white">LOGIN</button>
        </div>
    </form>
<% } else { %>
    <div class="img__logo" style="margin-left:25px;"></div>
    <h1 class="message__landing message__landing--success"><i class="fa fa-check" aria-hidden="true"></i> You are already Logged In as <strong style="text-transform:uppercase;"><%= currentUser.username %></strong></h1>

    <a href="/index"><button class="btn btn--white">AdminPanel</button></a>
    <a href="/admin/logout"><button class="btn btn--white">Logout</button></a>    
    
<% } %>

    </div>
</div>
<!-- // -->
</body>
</html>